<ion-header>
  <ion-toolbar>
    <ion-title>
      News
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
        <ion-img src="/assets/sanjose.jpg"></ion-img>
  
      <ion-card-subtitle>Sanjose Life</ion-card-subtitle>
      <ion-card-title>Sanjose Life</ion-card-title>
    </ion-card-header>
   
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>
    <ion-list>
      <ion-list-header>
        <ion-label>Demo</ion-label>
     </ion-list-header>
       <ion-item href="">
        <ion-icon slot="start" color="medium" name="color-fill"></ion-icon>
      </ion-item> 

      <ion-input placeholder="Enter Input"></ion-input>

    </ion-list>
</ion-content>
